extends ../partials/layout
block content
  section.banner
    div.slider(class="animated fadeIn")
      div
        i.flaticon-cutlery(class="banner-logo")
        h1.banner-heading Special and Fresh Food
        p.banner-p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        a.primary-button(href="#") Book a Table
      div
        i.flaticon-cutlery(class="banner-logo")
        h1.banner-heading Exquisite Dishes from our Chefs
        p.banner-p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        a.primary-button(href="#") Book a Table
      div
        i.flaticon-cutlery(class="banner-logo")
        h1.banner-heading Our Food is Delicious
        p.banner-p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        a.primary-button(href="#") Book a Table
      div
        i.flaticon-cutlery(class="banner-logo")
        h1.banner-heading Book a Table here at Our Site
        p.banner-p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        a.primary-button(href="#") Book a Table			
    div.dark-bg
  section.info
    div(class="animated fadeIn")
      i.icon-map4(class="info-icon")
      h2.info-heading Address
      p.info-p 198 West 21th Street, Suite 721 New York NY 10016
    div(class="animated fadeIn")
      i.icon-clock4(class="info-icon")
      h2.info-heading Opening Time
      p.info-p Monday - Sunday
      p.info-p 8am - 9am
    div(class="animated fadeIn")
      i.icon-mobile2(class="info-icon")
      h2.info-heading Phone
      p.info-p 123-234-5678
    div(class="animated fadeIn")
      i.icon-envelope(class="info-icon")
      h2.info-heading Email
      p.info-p 
        a(href="#") info@domain.com
      p.info-p 
        a(href="#") info@email.com	.
  section.about
    div.about-text(class="animated fadeIn")
      p.info-welcome Welcome to luto
      h2.section-heading Taste delicious food here in Italy. We have operated since 1895
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe suscipit, magni eius cupiditate, doloremque architecto nemo dolore accusamus ipsum a voluptatem porro eos iusto sit accusantium voluptatum eaque culpa? Qui.
    div.about-imgs(class="animated fadeIn")
      div.about1
      div.about2
  section.specialties(class="animated fadeIn")
    span.logo-specialties
      i.flaticon-cutlery(class="specialty-logo")
    h2.section-heading Our Specialities
    p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
    div.specialty-group
      div.specialty
        div.specialty-img
          img(src="images/dish-1.jpg")
        p.specialty-dish Luto Strawberry Dish
      div.specialty
        div.specialty-img
          img(src="images/dish-2.jpg")
        p.specialty-dish Pizza with Strawberries
      div.specialty
        div.specialty-img
          img(src="images/dish-3.jpg")
        p.specialty-dish Luto Grilled Beef
  section.video(class="animated fadeIn")
    div.dark-bg-video
    div.video-text
      h2.section.heading Foods you love to Taste
      p Duis magna dolor elit in ut amet elit ad nulla quis incididunt nostrud aute anim. Ullamco elit non ullamco quis pariatur occaecat voluptate exercitation eiusmod ea est. Minim cupidatat excepteur fugiat excepteur eu sint consequat aliquip pariatur aliquip id. Fugiat in nisi adipisicing id magna et. Fugiat laboris Lorem id amet. Quis velit officia laborum elit eiusmod excepteur tempor. Laborum eiusmod exercitation ipsum minim aliquip reprehenderit id.
      a.outline-btn(class="video-btn" href="//player.vimeo.com/video/93951774?autoplay=1" data-lightbox) 
        i.icon-play3
        span Watch Video
  section.testimonies(class="animated fadeIn")
    div.dark-bg-video
    h2.testimony-heading Our Customers Say
    div.client-slider
      div
        blackquote "Amet ipsum cupidatat pariatur est sunt id Lorem. Exercitation laboris mollit consequat pariatur voluptate. Fugiat fugiat aute labore dolore qui proident cupidatat laborum veniam. Aliqua excepteur id qui sunt aliqua sint amet esse excepteur amet qui consectetur. Laboris dolore sit exercitation cillum laboris in ad incididunt sunt sint ad velit tempor duis. Velit consequat ullamco amet sunt ad incididunt eu sunt et.
        p " - George Brooks
      div 
        blackquote "Amet ipsum cupidatat pariatur est sunt id Lorem. Exercitation laboris mollit consequat pariatur voluptate. Fugiat fugiat aute labore dolore qui proident cupidatat laborum veniam. Aliqua excepteur id qui sunt aliqua sint amet esse excepteur amet qui consectetur. Laboris dolore sit exercitation cillum laboris in ad incididunt sunt sint ad velit tempor duis. Velit consequat ullamco amet sunt ad incididunt eu sunt et.
        p " - Daniel Foster
      div
        blackquote "Amet ipsum cupidatat pariatur est sunt id Lorem. Exercitation laboris mollit consequat pariatur voluptate. Fugiat fugiat aute labore dolore qui proident cupidatat laborum veniam. Aliqua excepteur id qui sunt aliqua sint amet esse excepteur amet qui consectetur. Laboris dolore sit exercitation cillum laboris in ad incididunt sunt sint ad velit tempor duis. Velit consequat ullamco amet sunt ad incididunt eu sunt et.
        p " - Liam Jenkins
  section.menu(class="animated fadeIn")
    div.push-up
    span.logo-specialties
      i.flaticon-cutlery(class="specialty-logo")
    h2.section-heading Lutong Bahay menu
    p.menu-p Velit eiusmod cillum tempor exercitation pariatur pariatur dolor laborum reprehenderit tempor sit. Est aute exercitation deserunt anim ea adipisicing labore cupidatat. Tempor ex excepteur sint pariatur. Aliqua commodo enim anim irure qui ipsum excepteur dolor fugiat tempor id minim reprehenderit dolore.
    ul.tab-links(role="tablist")
      li(role="presentation")
        a.active(role="tab" href="#simple" aria-selected="true") Main
      li(role="presentation")
        a(role="tab" href="#simple" aria-selected="true") Desserts
      li(role="presentation")
        a(role="tab" href="#simple" aria-selected="true") Drinks
    div.tab-content
      section(role="tabpanel" class="panel active" id="main" aria-hidden="false" aria-labelledby="tab1")
        ul.menu-row
          li
            figure
              div.dish-img
                img(src="images/dish-3.jpg")
            div.dish-info
              span.dish-price $25.99
              h3 Griled Beef with potatoes
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-4.jpg")
            div.dish-info
              span.dish-price $30.99
              h3 Tuna Roast Source
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-5.jpg")
            div.dish-info
              span.dish-price $40.00
              h3 Roast Beef
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-6.jpg")
            div.dish-info
              span.dish-price $20.50
              h3 Salted Fried Chicken
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-7.jpg")
            div.dish-info
              span.dish-price $20.50
              h3 Lumpia Shanghai
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-8.jpg")
            div.dish-info
              span.dish-price $20.50
              h3 Chicken Adobo
              p Crab / Potatos / Rice
              
        ul.menu-row
          li
            figure
              div.dish-img
                img(src="images/dish-9.jpg")
            div.dish-info
              span.dish-price $25.99
              h3 Marinated Beef
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-10.jpg")
            div.dish-info
              span.dish-price $30.99
              h3 Fried Tokwa
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-11.jpg")
            div.dish-info
              span.dish-price $40.00
              h3 Letson Kawali
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-12.jpg")
            div.dish-info
              span.dish-price $20.50
              h3 Fried Pork
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-13.jpg")
            div.dish-info
              span.dish-price $20.50
              h3 Chopsuey
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dish-14.jpg")
            div.dish-info
              span.dish-price $20.50
              h3 Sunny sideup egg
              p Crab / Potatos / Rice		
      section(role="tabpanel" class="panel" id="desserts" aria-hidden="false" aria-labelledby="tab2")
        ul.menu-row
          li
            figure
              div.dish-img
                img(src="images/dessert-1.jpg")
            div.dish-info
              span.dish-price $25.99
              h3 Special Cake
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-2.jpg")
            div.dish-info
              span.dish-price $30.99
              h3 Frost Sweetened Vanilla
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-3.jpg")
            div.dish-info
              span.dish-price $40.00
              h3 Halo Halo
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-4.jpg")
            div.dish-info
              span.dish-price $20.50
              h3 Nicker Backer
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-5.jpg")
            div.dish-info
              span.dish-price $25.00
              h3 Choco Cake
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-6.jpg")
            div.dish-info
              span.dish-price $25.50
              h3 Sweet Caramel Bread
              p Crab / Potatos / Rice
              
        ul.menu-row
          li
            figure
              div.dish-img
                img(src="images/dessert-7.jpg")
            div.dish-info
              span.dish-price $25.99
              h3 Choco Bread
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-8.jpg")
            div.dish-info
              span.dish-price $30.99
              h3 Cream Puffs Delicious
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-9.jpg")
            div.dish-info
              span.dish-price $40.00
              h3 Fruit Salad
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-10.jpg")
            div.dish-info
              span.dish-price $20.50
              h3 Special Pancakes
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-11.jpg")
            div.dish-info
              span.dish-price $25.50
              h3 Biko Sweet
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/dessert-12.jpg")
            div.dish-info
              span.dish-price $25.50
              h3 King Sweet
              p Crab / Potatos / Rice			
      section(role="tabpanel" class="panel" id="drinks" aria-hidden="false" aria-labelledby="tab3")
        ul.menu-row
          li
            figure
              div.dish-img
                img(src="images/drink-1.jpg")
            div.dish-info
              span.dish-price $3.99
              h3 Cold Lemonade
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-2.jpg")
            div.dish-info
              span.dish-price $3.99
              h3 May Wine
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-3.jpg")
            div.dish-info
              span.dish-price $3.99
              h3 Ice tea juice
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-4.jpg")
            div.dish-info
              span.dish-price $3.99
              h3 Orange Juice
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-5.jpg")
            div.dish-info
              span.dish-price $3.99
              h3 Fresh Juice
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-6.jpg")
            div.dish-info
              span.dish-price $3.99
              h3 Coconut Juice
              p Crab / Potatos / Rice
              
        ul.menu-row
          li
            figure
              div.dish-img
                img(src="images/drink-7.jpg")
            div.dish-info
              span.dish-price $2.99
              h3 Mango Juice
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-8.jpg")
            div.dish-info
              span.dish-price $2.99
              h3 Lemon Juice
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-9.jpg")
            div.dish-info
              span.dish-price $2.99
              h3 Pepsi
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-10.jpg")
            div.dish-info
              span.dish-price $2.99
              h3 Coke
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-11.jpg")
            div.dish-info
              span.dish-price $2.99
              h3 Can Juice
              p Crab / Potatos / Rice
              
          li
            figure
              div.dish-img
                img(src="images/drink-12.jpg")
            div.dish-info
              span.dish-price $2.99
              h3 Choco Juice
              p Crab / Potatos / Rice				
    
    p.menu-p Even the all-powerful Pointing has no control about the blind texts it is an almost
    a.outline-btn(href="#") Book a Table
  section.reservation(class="animated fadeIn")
    div.dark-bg-video
    div.reservation-content
      h2.reservation-heading Make a Reservation
      p Cillum non enim eiusmod sint cupidatat enim. Sunt duis officia officia id dolore aliquip. Officia tempor veniam sunt veniam voluptate nostrud. Consectetur ex labore ut commodo eu fugiat. Culpa consectetur excepteur velit fugiat mollit nulla occaecat sit sit pariatur. Id et dolore incididunt officia esse enim enim deserunt fugiat. Ad cupidatat reprehenderit non enim mollit non dolor Lorem consectetur irure commodo consequat fugiat.
      form(action="#" class="form")
        div.form-column
          label(for="name") Fullname
          input#name(placeholder="name" type="text")
          label(for="tel") Phone
          input(id="tel" placeholder="phone" type="tel")
          label(for="time") Time
          input(id="time" placeholder="6:30" type="time")
        div.form-column
          label Email
          input(id="email" placeholder="email" type="email")
          label Date
          input(placeholder="date" type="text" id="datepicker")
          label Amount of People
          input(id="number-input" placeholder="1" type="number")
        button.form-btn Book a Table
block script
  script(src="js/lightbox.min.js")
  script(src="js/main.js")



