extends ../partials/layout
block content
  section.banner
    div.banner-content
      i.flaticon-cutlery(class="banner-logo")
      h1.banner-heading Book a Table
      p.banner-p 
        a(href="#" class="banner-link") Home 
        span Reservation
      div.dark-bg
  section.info
    div(class="animated fadeIn")
      i.icon-map4(class="info-icon")
      h2.info-heading Address
      p.info-p 198 West 21th Street, Suite 721 New York NY 10016
    div(class="animated fadeIn")
      i.icon-clock4(class="info-icon")
      h2.info-heading Opening Time
      p.info-p Monday - Sunday
      p.info-p 8am - 9am
    div(class="animated fadeIn")
      i.icon-mobile2(class="info-icon")
      h2.info-heading Phone
      p.info-p 123-234-5678
    div(class="animated fadeIn")
      i.icon-envelope(class="info-icon")
      h2.info-heading Email
      p.info-p 
        a(href="#") info@domain.com
      p.info-p 
        a(href="#") info@email.com	.
  section.reservation-solo(class="animated fadeIn")
    div.reservation-content-solo
      h2.reservation-heading-solo Make A Reservation
      p Cillum non enim eiusmod sint cupidatat enim. Sunt duis officia officia id dolore aliquip. 
      form(action="#" class="form")
        div.form-column
          label(for="name") Fullname
          input#name(placeholder="name" type="text")
          label(for="tel") Phone
          input(id="tel" placeholder="phone" type="tel")
          label(for="time") Time
          input(id="time" placeholder="6:30" type="time")
        div.form-column
          label Email
          input(id="email" placeholder="email" type="email")
          label Date
          input(placeholder="date" type="text" id="datepicker")
          label(for="people") Amount of People
          select(id="people" class="people" placeholder="1")
            option(value="1") 1
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
            option(value="5+") 5

        button.form-btn-solo Book a Table
block script
  script(src="js/main.js")