extends ../partials/layout
block content
  section.banner
    div.banner-content
      i.flaticon-cutlery(class="banner-logo")
      h1.banner-heading Book a Table
      p.banner-p 
        a(href="#" class="banner-link") Home 
        span Reservation
      div.dark-bg
  section.info
    div(class="animated fadeIn")
      i.icon-map4(class="info-icon")
      h2.info-heading Address
      p.info-p 198 West 21th Street, Suite 721 New York NY 10016
    div(class="animated fadeIn")
      i.icon-clock4(class="info-icon")
      h2.info-heading Opening Time
      p.info-p Monday - Sunday
      p.info-p 8am - 9am
    div(class="animated fadeIn")
      i.icon-mobile2(class="info-icon")
      h2.info-heading Phone
      p.info-p 123-234-5678
    div(class="animated fadeIn")
      i.icon-envelope(class="info-icon")
      h2.info-heading Email
      p.info-p 
        a(href="#") info@domain.com
      p.info-p 
        a(href="#") info@email.com	.
  section.reservation-solo(class="animated fadeIn")
    div.reservation-content-solo
      h2.reservation-heading-solo Make A Reservation
      p Cillum non enim eiusmod sint cupidatat enim. Sunt duis officia officia id dolore aliquip. 
      form(action="#" class="form")
        div.form-column
          label(for="name") Fullname
          input#name(placeholder="name" type="text")
          label(for="tel") Phone
          input(id="tel" placeholder="phone" type="tel")
          label(for="time") Time
          input(id="time" placeholder="6:30" type="time")
        div.form-column
          label Email
          input(id="email" placeholder="email" type="email")
          label Date
          input(placeholder="date" type="text" id="datepicker")
          label Amount of People
          input(id="number-input" placeholder="1" type="number")
        button.form-btn-solo Book a Table
block script
  script.
    const mobileToggle = document.querySelector(".nav-toggle");
    const headerNav = document.querySelector(".nav-menu");
    const navList = document.querySelector(".nav-list");
    function toggleNav() {
      headerNav.classList.toggle("nav-active");
      mobileToggle.classList.toggle("toggle-height");
      document.querySelector("body").classList.toggle("no-scroll");
      mobileToggle.children[1].classList.toggle("turn-cross-1");
      mobileToggle.children[2].classList.toggle("invisible");
      mobileToggle.children[3].classList.toggle("turn-cross-3");
      if(mobileToggle.getAttribute("aria-expanded") === "false"
      && navList.getAttribute("aria-hidden") === "true") {
        mobileToggle.setAttribute("aria-expanded", "true");
        navList.setAttribute("aria-hidden", "false");
      } else {
          mobileToggle.setAttribute("aria-expanded", "false");
          navList.setAttribute("aria-hidden", "true");
      }
    }
    mobileToggle.addEventListener("click", toggleNav);