.info {
  background-color: $info;
  padding: 1rem 1rem 20px 1rem;
  text-align: center;
}

.info div {
  margin-bottom: 25px;
}

.about {
  margin: 30px 30px;
}

.about1 {
  background: url(../images/about.jpg) no-repeat center center;
  background-size: cover;
  height: 380px;
  margin-bottom: 20px;
}

.about2 {
  background: url(../images/about-2.jpg) no-repeat center center;
  background-size: cover;    
  height: 700px;
}

@media screen and (min-width: 800px) {
  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 950px) {
  .about {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 1rem auto;
  }

  .about-text {
    width: 35%;
  }

  .about-imgs {
    width: 50%;
  }

  .about-imgs div {
    display: inline-block;
    width: 48%;
  }

  .about-imgs div:first-child {
    margin-right: 10px;
  }

  .about-img {
    width: 100%;
  }

  .about1, .about2 {
    height: 320px;
  }
}