.testimonies {
  height: 600px;
  background: url(../images/cover_bg_2.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  color: white;
  text-align: center;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.testimonies .quotes p,
.testimonies .quotes blockquote {
  color: white;
}

.quotes {
  width: 80%;
  margin: auto;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .testimonies {
    padding-bottom: 10rem;
  }
}

@media screen and (min-width: 950px) {
  .quotes {
    width: 60%;
  }

  .testimonies {
    padding-bottom: 3rem;
  }
}
