.video {
  background: url(../images/cover_bg_1.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 6rem;
  position: relative;
  background-attachment: fixed;
  height: 500px;
}

.video-text {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 30px;
  padding-bottom: 55px;
  position: relative;
}

.video-text::after {
  position: absolute;
  content: "";
  top: 1.5em;
  left: 1.5em;
  right: 1.5em;
  bottom: 1.5em;
  border: 1px solid $gray;
}

.dark-bg-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black;
  opacity: .7;
}

@media screen and (min-width: 950px) {
  .video-text {
    width: 30%;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}