footer
  div.footer-sections
    section.footer-info
      h2 Lutong Bahay
      p.footer-p Deserunt est amet sint esse pariatur cupidatat ullamco cupidatat nulla eu enim aute voluptate enim. Laborum proident sunt mollit sunt nulla incididunt nostrud. Excepteur commodo incididunt quis esse.
      div.footer-social
        a(href="#")
          i.icon-facebook4
        a(href="#")
          i.icon-twitter3
        a(href="#")
          i.icon-googleplus
        a(href="#")
          i.icon-dribbble2
    section.footer-latest
      h2 Latest Blog
      div.latest-post
        figure
          img(src="images/dish-5.jpg")
        a.latest-link(href="#")
          span.date May 5, 2015
          h3.latest-h How to cook beef grilled with potato
      div.latest-post
        figure
          img(src="images/dish-5.jpg")
        a.latest-link(href="#")
          span.date May 5, 2015
          h3.latest-h How to cook beef grilled with potato
      div.latest-post
        figure
          img(src="images/dish-5.jpg")
        a.latest-link(href="#")
          span.date May 5, 2015
          h3.latest-h How to cook beef grilled with potato                   
    section.footer-instagram
      h2 Instagram
      div.instagram-imgs
        img.instagram-img(src="images/dessert-1.jpg")
        img.instagram-img(src="images/dessert-2.jpg")
        img.instagram-img(src="images/dish-9.jpg")
        img.instagram-img(src="images/dish-2.jpg")
    section.newsletter
      h2 Newsletter
      p.news-p Sit voluptate officia aliqua labore consequat velit in. Enim aute deserunt do dolore. In mollit irure id labore duis.
      form(action="#")
        input.email-input(type="email" placeholder="Enter Email Address" required)
        button.subscribe Subscribe
  section.copyright
    <p>
      <span class="block">© Copyright ©<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        
        <script>document.write(new Date().getFullYear());
        </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><br>
      </span> 
      <span class="block">Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a> &amp; <a href="https://www.pexels.com/" target="_blank">Pexel</a>
      </span>
    </p>

