div.nav-menu
  ul.nav-list(role="menubar" aria-hidden="true")
    li.nav-link(role="menuitem")
        a(href="index.html") Home
    li.nav-link(role="menuitem")
        a(href="menus.html") Menus
    li.nav-link(role="menuitem")
        a(href="specialties.html") Specialities
    li.nav-link(role="menuitem")
        a(href="#") Reservation
    li.nav-link(role="menuitem")
        a(href="#") Blog
    li.nav-link(role="menuitem")
        a(href="#") About us
    li.nav-link(role="menuitem")
        a(href="#") Contact
header.header
  section.header-row
    a.logo
      i.flaticon-cutlery(class="logo-icon")
      span.letter-block Lu
      span.letter-block To
    button.nav-toggle(aria-expanded="false" aria-controls="header-nav")
      span.screen-reader-text Menu
      div.burger-bar
      div.burger-bar
      div.burger-bar
  