$primary: #FF6107;
$black: #303030;
$darker: #404044;
$lighter: #FBFBFB;
$selection-color: #FF6107;
$body-color: #fcfcfc;
$body-bg: #f9f7f7;
$gray: #7d7d7d;
$info: #302939;
$welcome: #969696;

$font-primary: 'Poppins', Arial, sans-serif;
$font-secondary: 'Lora', Georgia, serif;

body {
  font-family: $font-primary;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  background-color: $lighter;
  color: $gray;
  margin: 0;
  padding: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  color: $darker;
}

p, span {
  font-family: $font-primary;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  padding: 0;
  list-style-type: none;
}