head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Luto
  link(href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css" rel="stylesheet")
  link(href="fonts/flaticon/font/flaticon.css" rel="stylesheet")
  link(href="css/tiny-slider.css" rel="stylesheet")
body
  header
    div.header-row
        a.logo
            i.flaticon-cutlery
            span Lu
            span To
        button.nav-toggle(aria-expanded="false" aria-controls="header-nav")
            div.burger-bar
            div.burger-bar
            div.burger-bar
  div.nav-menu
    ul(role="menubar" aria-hidden="true")
      li(role="menuitem")
          a(href="#") Home
      li(role="menuitem")
          a(href="#") Menus
      li(role="menuitem")
          a(href="#") Specialities
      li(role="menuitem")
          a(href="#") Reservation
      li(role="menuitem")
          a(href="#") Blog
      li(role="menuitem")
          a(href="#") About us
      li(role="menuitem")
          a(href="#") Contact

      
