doctype html
html
	include partials/_head.pug
	body
		include partials/_header.pug
		main
			section.banner
				div.slider
					div
						i.flaticon-cutlery(class="banner-logo")
						h1.banner-heading Special and Fresh Food
						p.banner-p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
						a.primary-button(href="#") Book a Table
					div
						i.flaticon-cutlery(class="banner-logo")
						h1.banner-heading Exquisite Dishes from our Chefs
						p.banner-p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
						a.primary-button(href="#") Book a Table
					div
						i.flaticon-cutlery(class="banner-logo")
						h1.banner-heading Our Food is Delicious
						p.banner-p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
						a.primary-button(href="#") Book a Table
					div
						i.flaticon-cutlery(class="banner-logo")
						h1.banner-heading Book a Table here at Our Site
						p.banner-p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
						a.primary-button(href="#") Book a Table			
				div.dark-bg
			section.info
				div
					i.icon-map4
					h2 Address
					p 198 West 21th Street, Suite 721 New York NY 10016
				div
					i.icon-clock4
					h2 Opening Time
					p Monday - Sunday
					p 8am - 9am
				div
					i.icon-mobile2
					h2 Phone
					p 123-234-5678
				div
					i.icon-envelope
					h2 Email
					p 
						a(href="#") info@domain.com
					p 
						a(href="#") info@email.com	.
			section.about
				div.about-text
					p.info-welcome Welcome to luto
					h2 Taste delicious food here in Italy. We have operated since 1895
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe suscipit, magni eius cupiditate, doloremque architecto nemo dolore accusamus ipsum a voluptatem porro eos iusto sit accusantium voluptatum eaque culpa? Qui.
				div.about-imgs
					img.about-img(src="images/about.jpg")
					img.about-img2(src="images/about-2.jpg") 
			section.video
				div.video-text
					h2 Foods you love to Taste
					p Duis magna dolor elit in ut amet elit ad nulla quis incididunt nostrud aute anim. Ullamco elit non ullamco quis pariatur occaecat voluptate exercitation eiusmod ea est. Minim cupidatat excepteur fugiat excepteur eu sint consequat aliquip pariatur aliquip id. Fugiat in nisi adipisicing id magna et. Fugiat laboris Lorem id amet. Quis velit officia laborum elit eiusmod excepteur tempor. Laborum eiusmod exercitation ipsum minim aliquip reprehenderit id.
					a.outline-btn(href="//player.vimeo.com/video/93951774?autoplay=1" data-lightbox) Watch Video
			section.specialties
				h2 Our Specialities
				p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
				div.specialty-group
					div.specialty
						div.specialty-img
							img(src="images/dish-1.jpg")
						p Luto Strawberry Dish
					div.specialty
						div.specialty-img
							img(src="images/dish-2.jpg")
						p Pizza with Strawberries
					div.specialty
						div.specialty-img
							img(src="images/dish-3.jpg")
						p Luto Grilled Beef
			section.testimonies
				h2 Our Customers Say
				div.client-slider
					div
						blackquote "Amet ipsum cupidatat pariatur est sunt id Lorem. Exercitation laboris mollit consequat pariatur voluptate. Fugiat fugiat aute labore dolore qui proident cupidatat laborum veniam. Aliqua excepteur id qui sunt aliqua sint amet esse excepteur amet qui consectetur. Laboris dolore sit exercitation cillum laboris in ad incididunt sunt sint ad velit tempor duis. Velit consequat ullamco amet sunt ad incididunt eu sunt et.
						p " - George Brooks
					div 
						blackquote "Amet ipsum cupidatat pariatur est sunt id Lorem. Exercitation laboris mollit consequat pariatur voluptate. Fugiat fugiat aute labore dolore qui proident cupidatat laborum veniam. Aliqua excepteur id qui sunt aliqua sint amet esse excepteur amet qui consectetur. Laboris dolore sit exercitation cillum laboris in ad incididunt sunt sint ad velit tempor duis. Velit consequat ullamco amet sunt ad incididunt eu sunt et.
						p " - Daniel Foster
					div
						blackquote "Amet ipsum cupidatat pariatur est sunt id Lorem. Exercitation laboris mollit consequat pariatur voluptate. Fugiat fugiat aute labore dolore qui proident cupidatat laborum veniam. Aliqua excepteur id qui sunt aliqua sint amet esse excepteur amet qui consectetur. Laboris dolore sit exercitation cillum laboris in ad incididunt sunt sint ad velit tempor duis. Velit consequat ullamco amet sunt ad incididunt eu sunt et.
						p " - Liam Jenkins
			section.menu
				h2 Lutong Bahay menu
				p Velit eiusmod cillum tempor exercitation pariatur pariatur dolor laborum reprehenderit tempor sit. Est aute exercitation deserunt anim ea adipisicing labore cupidatat. Tempor ex excepteur sint pariatur. Aliqua commodo enim anim irure qui ipsum excepteur dolor fugiat tempor id minim reprehenderit dolore.
				ul.tab-links(role="tablist")
					li(role="presentation")
						a.active(role="tab" href="#simple" aria-selected="true") Main
					li(role="presentation")
						a.active(role="tab" href="#simple" aria-selected="true") Desserts
					li(role="presentation")
						a.active(role="tab" href="#simple" aria-selected="true") Drinks
				div.tab-content
					section(role="tabpanel" class="panel active" id="simple" aria-hidden="false" aria-labelledby="tab1")
						ul
							li
								figure
									img(src="images/dish-3.jpg")
								div.dish-info
									h3 Griled Beef with potatoes
									p Crab / Potatos / Rice
									span.dish-price $25.99
							li
								figure
									img(src="images/dish-4.jpg")
								div.dish-info
									h3 Tuna Roast Source
									p Crab / Potatos / Rice
									span.dish-price $30.99
							li
								figure
									img(src="images/dish-5.jpg")
								div.dish-info
									h3 Roast Beef
									p Crab / Potatos / Rice
									span.dish-price $40.00
							li
								figure
									img(src="images/dish-6.jpg")
								div.dish-info
									h3 Salted Fried Chicken
									p Crab / Potatos / Rice
									span.dish-price $20.50
							li
								figure
									img(src="images/dish-7.jpg")
								div.dish-info
									h3 Lumpia Shanghai
									p Crab / Potatos / Rice
									span.dish-price $20.50
							li
								figure
									img(src="images/dish-8.jpg")
								div.dish-info
									h3 Chicken Adobo
									p Crab / Potatos / Rice
									span.dish-price $20.50
						ul
							li
								figure3
									img(src="images/dish-9.jpg")
								div.dish-info
									h3 Marinated Beef
									p Crab / Potatos / Rice
									span.dish-price $25.99
							li
								figure
									img(src="images/dish-10.jpg")
								div.dish-info
									h3 Fried Tokwa
									p Crab / Potatos / Rice
									span.dish-price $30.99
							li
								figure
									img(src="images/dish-11.jpg")
								div.dish-info
									h3 Letson Kawali
									p Crab / Potatos / Rice
									span.dish-price $40.00
							li
								figure
									img(src="images/dish-12.jpg")
								div.dish-info
									h3 Fried Pork
									p Crab / Potatos / Rice
									span.dish-price $20.50
							li
								figure
									img(src="images/dish-13.jpg")
								div.dish-info
									h3 Chopsuey
									p Crab / Potatos / Rice
									span.dish-price $20.50
							li
								figure
									img(src="images/dish-14.jpg")
								div.dish-info
									h3 Sunny sideup egg
									p Crab / Potatos / Rice
									span.dish-price $20.50
					section(role="tabpanel" class="panel" id="simple" aria-hidden="false" aria-labelledby="tab2")
						ul
							li
								figure
									img(src="images/dessert-1.jpg")
								div.dish-info
									h3 Special Cake
									p Crab / Potatos / Rice
									span.dish-price $25.99
							li
								figure
									img(src="images/dessert-2.jpg")
								div.dish-info
									h3 Frost Sweetened Vanilla
									p Crab / Potatos / Rice
									span.dish-price $30.99
							li
								figure
									img(src="images/dessert-3.jpg")
								div.dish-info
									h3 Halo Halo
									p Crab / Potatos / Rice
									span.dish-price $40.00
							li
								figure
									img(src="images/dessert-4.jpg")
								div.dish-info
									h3 Nicker Backer
									p Crab / Potatos / Rice
									span.dish-price $20.50
							li
								figure
									img(src="images/dessert-5.jpg")
								div.dish-info
									h3 Choco Cake
									p Crab / Potatos / Rice
									span.dish-price $25.00
							li
								figure
									img(src="images/dessert-6.jpg")
								div.dish-info
									h3 Sweet Caramel Bread
									p Crab / Potatos / Rice
									span.dish-price $25.50
						ul
							li
								figure
									img(src="images/dessert-7.jpg")
								div.dish-info
									h3 Choco Bread
									p Crab / Potatos / Rice
									span.dish-price $25.99
							li
								figure
									img(src="images/dessert-8.jpg")
								div.dish-info
									h3 Cream Puffs Delicious
									p Crab / Potatos / Rice
									span.dish-price $30.99
							li
								figure
									img(src="images/dessert-9.jpg")
								div.dish-info
									h3 Fruit Salad
									p Crab / Potatos / Rice
									span.dish-price $40.00
							li
								figure
									img(src="images/dessert-10.jpg")
								div.dish-info
									h3 Special Pancakes
									p Crab / Potatos / Rice
									span.dish-price $20.50
							li
								figure
									img(src="images/dessert-11.jpg")
								div.dish-info
									h3 Biko Sweet
									p Crab / Potatos / Rice
									span.dish-price $25.50
							li
								figure
									img(src="images/dessert-12.jpg")
								div.dish-info
									h3 King Sweet
									p Crab / Potatos / Rice
									span.dish-price $25.50
					section(role="tabpanel" class="panel" id="simple" aria-hidden="false" aria-labelledby="tab3")
						ul
							li
								figure
									img(src="images/drink-1.jpg")
								div.dish-info
									h3 Cold Lemonade
									p Crab / Potatos / Rice
									span.dish-price $3.99
							li
								figure
									img(src="images/drink-2.jpg")
								div.dish-info
									h3 May Wine
									p Crab / Potatos / Rice
									span.dish-price $3.99
							li
								figure
									img(src="images/drink-3.jpg")
								div.dish-info
									h3 Ice tea juice
									p Crab / Potatos / Rice
									span.dish-price $3.99
							li
								figure
									img(src="images/drink-4.jpg")
								div.dish-info
									h3 Orange Juice
									p Crab / Potatos / Rice
									span.dish-price $3.99
							li
								figure
									img(src="images/drink-5.jpg")
								div.dish-info
									h3 Fresh Juice
									p Crab / Potatos / Rice
									span.dish-price $3.99
							li
								figure
									img(src="images/drink-6.jpg")
								div.dish-info
									h3 Coconut Juice
									p Crab / Potatos / Rice
									span.dish-price $3.99
						ul
							li
								figure
									img(src="images/drink-7.jpg")
								div.dish-info
									h3
									p Crab / Potatos / Rice
									span.dish-price $2.99
							li
								figure
									img(src="images/drink-8.jpg")
								div.dish-info
									h3
									p Crab / Potatos / Rice
									span.dish-price $2.99
							li
								figure
									img(src="images/drink-9.jpg")
								div.dish-info
									h3
									p Crab / Potatos / Rice
									span.dish-price $2.99
							li
								figure
									img(src="images/drink-10.jpg")
								div.dish-info
									h3
									p Crab / Potatos / Rice
									span.dish-price $2.99
							li
								figure
									img(src="images/drink-11.jpg")
								div.dish-info
									h3
									p Crab / Potatos / Rice
									span.dish-price $2.99
							li
								figure
									img(src="images/drink-12.jpg")
								div.dish-info
									h3
									p Crab / Potatos / Rice
									span.dish-price $2.99
				p Even the all-powerful Pointing has no control about the blind texts it is an almost
				a.book-btn(href="#") Book a Table
			section.reservation
				div.reservation-content
					h2 Make a reservation
					p Cillum non enim eiusmod sint cupidatat enim. Sunt duis officia officia id dolore aliquip. Officia tempor veniam sunt veniam voluptate nostrud. Consectetur ex labore ut commodo eu fugiat. Culpa consectetur excepteur velit fugiat mollit nulla occaecat sit sit pariatur. Id et dolore incididunt officia esse enim enim deserunt fugiat. Ad cupidatat reprehenderit non enim mollit non dolor Lorem consectetur irure commodo consequat fugiat.
					form(action="#" class="form")
						label#name Fullname
						input#name(placeholder="name" type="text")
						label Phone
						input(placeholder="phone" type="tel")
						label Time
						input(placeholder="6:30" type="time")
						label Email
						input(placeholder="email" type="email")
						label Date
						input#datepicker(placeholder="date" type="text")
						label Amount of People
						input(placeholder="1" type="number")
						button Book a Table
		include partials/_footer.pug