doctype html
html
	include _header.pug
	main
		section.banner
			div.slider
				div
					i.flaticon-cutlery
					h1.banner-heading Special and Fresh Food
					p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					a.primary-button(href="#") Book a Table
				div
					i.flaticon-cutlery
					h1.banner-heading Exquisit Dishes from our Chefs
					p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					a.primary-button(href="#") Book a Table
				div
					i.flaticon-cutlery
					h1.banner-heading Our Food is Delicious
					p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					a.primary-button(href="#") Book a Table
				div
					i.flaticon-cutlery
					h1.banner-heading Book a Table here at Our Site
					p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					a.primary-button(href="#") Book a Table
		section.info
			div
				i.icon-map4
				h2 Address
				p 198 West 21th Street, Suite 721 New York NY 10016
			div
				i.icon-clock4
				h2 Opening Time
				p Monday - Sunday
				p 8am - 9am
			div
				i.icon-mobile2
				h2 Phone
				p 123-234-5678
			div
				i.icon-envelope
				h2 Email
				p 
					a(href="#") info@domain.com
				p 
					a(href="#") info@email.com	.
		section.about
			div.about-text
				p.info-welcome Welcome to luto
				h2 Taste delicious food here in Italy. We have operated since 1895
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe suscipit, magni eius cupiditate, doloremque architecto nemo dolore accusamus ipsum a voluptatem porro eos iusto sit accusantium voluptatum eaque culpa? Qui.
			div.about-imgs
				img.about-img(src="images/about.jpg")
				img.about-img2(src="images/about-2.jpg") 
		section.specialties
			h2 Our Specialities
			p Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
			div.specialty-group
				div.specialty
					div.specialty-img
						img(src="images/dish-1.jpg")
					p Luto Strawberry Dish
				div.specialty
					div.specialty-img
						img(src="images/dish-2.jpg")
					p Pizza with Strawberries
				div.specialty
					div.specialty-img
						img(src="images/dish-3.jpg")
					p Luto Grilled Beef
			
	include _footer.pug
