extends partials/layout
block content
			section.banner
				div.banner-content
					i.flaticon-cutlery(class="banner-logo")
					h1.banner-heading Our Menu
					p.banner-p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					div.dark-bg
			section.info
				div(class="animated fadeIn")
					i.icon-map4(class="info-icon")
					h2.info-heading Address
					p.info-p 198 West 21th Street, Suite 721 New York NY 10016
				div(class="animated fadeIn")
					i.icon-clock4(class="info-icon")
					h2.info-heading Opening Time
					p.info-p Monday - Sunday
					p.info-p 8am - 9am
				div(class="animated fadeIn")
					i.icon-mobile2(class="info-icon")
					h2.info-heading Phone
					p.info-p 123-234-5678
				div(class="animated fadeIn")
					i.icon-envelope(class="info-icon")
					h2.info-heading Email
					p.info-p 
						a(href="#") info@domain.com
					p.info-p 
						a(href="#") info@email.com	.
			section.menu(class="animated fadeIn")
				span.logo-specialties
					i.flaticon-cutlery(class="specialty-logo")
				h2.section-heading Lutong Bahay menu
				p.menu-p Velit eiusmod cillum tempor exercitation pariatur pariatur dolor laborum reprehenderit tempor sit. Est aute exercitation deserunt anim ea adipisicing labore cupidatat. Tempor ex excepteur sint pariatur. Aliqua commodo enim anim irure qui ipsum excepteur dolor fugiat tempor id minim reprehenderit dolore.
				ul.tab-links(role="tablist")
					li(role="presentation")
						a.active(role="tab" href="#simple" aria-selected="true") Main
					li(role="presentation")
						a(role="tab" href="#simple" aria-selected="true") Desserts
					li(role="presentation")
						a(role="tab" href="#simple" aria-selected="true") Drinks
				div.tab-content
					section(role="tabpanel" class="panel active" id="main" aria-hidden="false" aria-labelledby="tab1")
						ul.menu-row
							li
								figure
									div.dish-img
										img(src="images/dish-3.jpg")
								div.dish-info
									span.dish-price $25.99
									h3 Griled Beef with potatoes
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-4.jpg")
								div.dish-info
									span.dish-price $30.99
									h3 Tuna Roast Source
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-5.jpg")
								div.dish-info
									span.dish-price $40.00
									h3 Roast Beef
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-6.jpg")
								div.dish-info
									span.dish-price $20.50
									h3 Salted Fried Chicken
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-7.jpg")
								div.dish-info
									span.dish-price $20.50
									h3 Lumpia Shanghai
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-8.jpg")
								div.dish-info
									span.dish-price $20.50
									h3 Chicken Adobo
									p Crab / Potatos / Rice
									
						ul.menu-row
							li
								figure
									div.dish-img
										img(src="images/dish-9.jpg")
								div.dish-info
									span.dish-price $25.99
									h3 Marinated Beef
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-10.jpg")
								div.dish-info
									span.dish-price $30.99
									h3 Fried Tokwa
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-11.jpg")
								div.dish-info
									span.dish-price $40.00
									h3 Letson Kawali
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-12.jpg")
								div.dish-info
									span.dish-price $20.50
									h3 Fried Pork
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-13.jpg")
								div.dish-info
									span.dish-price $20.50
									h3 Chopsuey
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dish-14.jpg")
								div.dish-info
									span.dish-price $20.50
									h3 Sunny sideup egg
									p Crab / Potatos / Rice		
					section(role="tabpanel" class="panel" id="desserts" aria-hidden="false" aria-labelledby="tab2")
						ul.menu-row
							li
								figure
									div.dish-img
										img(src="images/dessert-1.jpg")
								div.dish-info
									span.dish-price $25.99
									h3 Special Cake
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-2.jpg")
								div.dish-info
									span.dish-price $30.99
									h3 Frost Sweetened Vanilla
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-3.jpg")
								div.dish-info
									span.dish-price $40.00
									h3 Halo Halo
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-4.jpg")
								div.dish-info
									span.dish-price $20.50
									h3 Nicker Backer
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-5.jpg")
								div.dish-info
									span.dish-price $25.00
									h3 Choco Cake
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-6.jpg")
								div.dish-info
									span.dish-price $25.50
									h3 Sweet Caramel Bread
									p Crab / Potatos / Rice
									
						ul.menu-row
							li
								figure
									div.dish-img
										img(src="images/dessert-7.jpg")
								div.dish-info
									span.dish-price $25.99
									h3 Choco Bread
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-8.jpg")
								div.dish-info
									span.dish-price $30.99
									h3 Cream Puffs Delicious
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-9.jpg")
								div.dish-info
									span.dish-price $40.00
									h3 Fruit Salad
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-10.jpg")
								div.dish-info
									span.dish-price $20.50
									h3 Special Pancakes
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-11.jpg")
								div.dish-info
									span.dish-price $25.50
									h3 Biko Sweet
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/dessert-12.jpg")
								div.dish-info
									span.dish-price $25.50
									h3 King Sweet
									p Crab / Potatos / Rice			
					section(role="tabpanel" class="panel" id="drinks" aria-hidden="false" aria-labelledby="tab3")
						ul.menu-row
							li
								figure
									div.dish-img
										img(src="images/drink-1.jpg")
								div.dish-info
									span.dish-price $3.99
									h3 Cold Lemonade
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-2.jpg")
								div.dish-info
									span.dish-price $3.99
									h3 May Wine
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-3.jpg")
								div.dish-info
									span.dish-price $3.99
									h3 Ice tea juice
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-4.jpg")
								div.dish-info
									span.dish-price $3.99
									h3 Orange Juice
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-5.jpg")
								div.dish-info
									span.dish-price $3.99
									h3 Fresh Juice
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-6.jpg")
								div.dish-info
									span.dish-price $3.99
									h3 Coconut Juice
									p Crab / Potatos / Rice
									
						ul.menu-row
							li
								figure
									div.dish-img
										img(src="images/drink-7.jpg")
								div.dish-info
									span.dish-price $2.99
									h3 Mango Juice
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-8.jpg")
								div.dish-info
									span.dish-price $2.99
									h3 Lemon Juice
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-9.jpg")
								div.dish-info
									span.dish-price $2.99
									h3 Pepsi
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-10.jpg")
								div.dish-info
									span.dish-price $2.99
									h3 Coke
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-11.jpg")
								div.dish-info
									span.dish-price $2.99
									h3 Can Juice
									p Crab / Potatos / Rice
									
							li
								figure
									div.dish-img
										img(src="images/drink-12.jpg")
								div.dish-info
									span.dish-price $2.99
									h3 Choco Juice
									p Crab / Potatos / Rice				
				
				p.menu-p Even the all-powerful Pointing has no control about the blind texts it is an almost
				a.outline-btn(href="#") Book a Table
block script
	script.
		const mobileToggle = document.querySelector(".nav-toggle");
		const headerNav = document.querySelector(".nav-menu");
		const navList = document.querySelector(".nav-list");
		const tablinks = document.querySelector(".tab-links");
		const tabs = tablinks.querySelectorAll("a");
		const panels = document.querySelectorAll(".panel");
		function toggleNav() {
			headerNav.classList.toggle("nav-active");
			mobileToggle.classList.toggle("toggle-height");
			document.querySelector("body").classList.toggle("no-scroll");
			mobileToggle.children[1].classList.toggle("turn-cross-1");
			mobileToggle.children[2].classList.toggle("invisible");
			mobileToggle.children[3].classList.toggle("turn-cross-3");
			if(mobileToggle.getAttribute("aria-expanded") === "false"
			&& navList.getAttribute("aria-hidden") === "true") {
					mobileToggle.setAttribute("aria-expanded", "true");
					navList.setAttribute("aria-hidden", "false");
			} else {
					mobileToggle.setAttribute("aria-expanded", "false");
					navList.setAttribute("aria-hidden", "true");
			}
		}
		mobileToggle.addEventListener("click", toggleNav);


		// activate panels and change aria attributes when switching tabs
		function switchTab(oldTab, chosenTab) {
			chosenTab.focus();
			chosenTab.setAttribute("aria-selected", "true");
			chosenTab.classList.toggle("active");
			oldTab.setAttribute("aria-selected", 'false');
			oldTab.classList.toggle("active");
			let index = Array.prototype.indexOf.call(tabs,chosenTab);
			let oldIndex = Array.prototype.indexOf.call(tabs,oldTab);
			panels[oldIndex].classList.toggle("active");
			panels[oldIndex].setAttribute("aria-hidden", "true");
			panels[index].classList.toggle("active");
			panels[index].setAttribute("aria-hidden", "false");
		}

		// add click and keyboard event listeners to tabs
		tabs.forEach(function(tab, i) {
			tab.addEventListener("click", function(event) {
					event.preventDefault();
					const currentlySelectedTab = document.querySelector('[aria-selected="true"]');
					const newlySelectedTab = event.currentTarget;
					if (currentlySelectedTab !== newlySelectedTab) {
							switchTab(currentlySelectedTab, newlySelectedTab);
					}
			});
			
			tab.addEventListener('keydown', e => {  
					let index = Array.prototype.indexOf.call(tabs, e.currentTarget);
					let dir = e.which === 37 ? index - 1 
									: e.which === 39 ? index + 1 
									: e.which === 40 ? 'down' : null;

					if (dir !== null) {
							e.preventDefault();
							dir === 'down' ? panels[i].focus() 
									: tabs[dir] ? switchTab(e.currentTarget, tabs[dir]) 
									: void 0;
					}
			});
		});